@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
}

html {
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-transition: all var(--transition-duration)
    var(--transition-timing-function);
  --rounded-border-radius: 9999px;
  --color-primary: #ec6244;
  --color-primary-lightened: #f27357;
  --dark-gray: #272727;
  --less-dark-gray: #454642;
  --toggle-off-color: #696969;
  --medium-gray: #a1a1a1;
  --more-off-white: #d1d5db;
  --off-white: #efeeee;
  --cubemap-checked-bg: rgba(0, 0, 0, 0.7);
  --step-button-hover-box-shadow: rgba(210, 247, 90, 0.3);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
}

small {
  font-size: 80%;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.display-canvas:hover {
  cursor: grab;
}

.display-canvas:active {
  cursor: grabbing;
}

.hidden {
  display: none !important;
}

/* LOADING OVERLAY */

.loading-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s var(--transition-timing-function);
  z-index: 50;
}

.loading-overlay.fadeout {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-overlay .loading-spinner {
  height: 3rem;
  width: 3rem;
  border-radius: var(--rounded-border-radius);
  border: 4px solid var(--color-primary);
  border-right-color: transparent;
  border-radius: var(--rounded-border-radius);
  animation: spin 1s linear infinite;
}

.loading-overlay .info-span {
  color: var(--off-white);
  font-weight: 500;
}

/* MODEL SELECTION */

.model-selection .switch-model-button {
  position: absolute;
  cursor: pointer;
  height: 5vh;
  width: 3vw;
}

.model-selection .switch-model-button.left {
  left: 5vw;
}

.model-selection .switch-model-button.right {
  right: 5vw;
}

.model-selection .switch-model-button.left svg {
  transform: rotate(180deg);
}

.model-selection .switch-model-button svg path {
  stroke: var(--off-white);
  stroke-width: 5;
  transition: 0.1s ease;
}

.model-selection .switch-model-button:hover svg path {
  stroke: var(--medium-gray);
}

.model-selection .model-heading {
  position: absolute;
  top: 7vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  width: 67%;
  pointer-events: none;
}

.model-selection .model-heading span {
  pointer-events: all;
}

.model-selection .model-name {
  font-family: "Bebas Neue", sans-serif;
  color: var(--off-white);
  font-size: 7rem;
  line-height: 7rem;
  text-transform: uppercase;
}

/* the padding and display stuff is necessary because of the badely cropped font */
.model-selection .highlighted-word {
  color: black;
  display: inline-block;
  height: 7rem;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.;
  background-color: var(--color-primary);
  border-radius: 15px;
}

.model-selection .model-description {
  color: var(--medium-gray);
  line-height: 1.75rem;
}

.model-selection .model-infos {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5vh;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
}

.model-selection .model-infos .info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.model-selection .model-infos .info-label {
  color: var(--medium-gray);
  font-size: 1.6vh;
  font-weight: 500;
}

.model-selection .model-infos .number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: var(--off-white);
  display: flex;
  align-items: flex-end;
}

.model-selection .model-infos .value {
  font-size: 5vh;
}

.model-selection .model-infos .unit {
  font-size: 2.5vh;
  margin-left: 0.5rem;
  margin-bottom: 1vh;
}

@media (max-width: 1024px) {
  .model-selection .model-name {
    font-size: 4rem;
    line-height: 4rem;
  }
  .model-selection .highlighted-word {
    height: 4.1rem;
    border-radius: 8px;
  }
  .model-selection .model-description {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}

/* OPTIONS / SETTINGS PANEL */

.options-container {
  position: absolute;
  top: 7vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.options-container .options {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.options-container .option-button {
  background-color: var(--dark-gray);
  height: 5vh;
  width: 5vh;
  min-height: 40px;
  min-width: 40px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.options-container .option-button:hover svg {
  opacity: 0.5;
}

.options-container .toggle-button-fill {
  fill: var(--toggle-off-color);
}
.options-container svg.active .toggle-button-fill,
.options-container svg.active.toggle-button-fill {
  fill: var(--color-primary);
}
.options-container .toggle-button-stroke {
  stroke: var(--toggle-off-color);
}
.options-container svg.active .toggle-button-stroke,
.options-container svg.active.toggle-button-stroke {
  stroke: var(--color-primary);
}

.options-container .settings-panel {
  width: 300px;
  background-color: var(--dark-gray);
  color: var(--off-white);
  font-size: 0.9rem;
  border-radius: 13px;
  z-index: 10;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.options-container .settings-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-container .rgb-gradient-setting .switch-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.options-container .rgb-gradient-setting input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.options-container .rgb-gradient-setting .switch-display {
  width: 2.75rem;
  height: 1.5rem;
  border-radius: var(--rounded-border-radius);
  background-color: var(--off-white);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.options-container .rgb-gradient-setting .switch-display::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: white;
  border: 1px solid var(--more-off-white);
  border-radius: var(--rounded-border-radius);
  height: 18px;
  width: 18px;
  transition: var(--default-transition);
}

.options-container .rgb-gradient-setting input:focus + .switch-display {
  outline: none;
}

.options-container .rgb-gradient-setting input:checked + .switch-display {
  background-color: var(--color-primary);
}

.options-container
  .rgb-gradient-setting
  input:checked
  + .switch-display::after {
  transform: translateX(100%);
  border-color: white;
}

.options-container .luminosity-setting {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.options-container .luminosity-setting input {
  height: 0.5rem;
  width: 100%;
  background-color: var(--off-white);
  accent-color: var(--color-primary);
  appearance: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* PART SELECTION MENU */

.car-parts {
  position: absolute;
  top: 7vh;
  left: 5vw;
  width: 450px;
  font-weight: 600;
}

.car-parts .categories {
  display: flex;
}

.car-parts .categories .tab {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  color: var(--off-white);
  background-color: var(--dark-gray);
  opacity: 0.6;
  cursor: pointer;
  padding: 12px 20px;
  width: 100%;
  transition: var(--default-transition);
}

.car-parts .categories .tab:not(.active-tab):hover {
  opacity: 0.75;
  background-color: var(--less-dark-gray);
}

.car-parts .categories .tab.active-tab {
  background-color: var(--dark-gray);
  color: var(--off-white);
  opacity: 1;
}

.car-parts .parts-for-category {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  color: var(--off-white);
  background-color: var(--dark-gray);
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: var(--default-transition);
}

.car-parts .part-item {
  justify-content: space-between;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 1.25rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: var(--default-transition);
}

.car-parts .part-item:hover {
  background-color: var(--less-dark-gray);
}

.car-parts .part-item.active-part {
  background-color: var(--color-primary);
  color: var(--dark-gray);
  cursor: auto;
}

.car-parts .part-item .check-circle {
  border-radius: var(--rounded-border-radius);
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.car-parts .part-item .check-circle img {
  display: none;
  width: 50%;
  height: 50%;
}

.car-parts .part-item.active-part .check-circle {
  background-color: var(--dark-gray);
}

.car-parts .part-item.active-part .check-circle img {
  display: unset;
}

/* COLORS */

.color-selection {
  position: absolute;
  right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.color-selection .color {
  --color: black;
  --color-size: 26px;
  background-color: var(--color);
  filter: brightness(2); /** actual color values look a bit muted */
  transition: var(--default-transition);
  height: var(--color-size);
  width: var(--color-size);
  border-radius: var(--rounded-border-radius);
  cursor: pointer;
}

.color-selection .color:hover {
  transform: scale(1.25);
}

.color-selection .color.active-color {
  cursor: unset;
}

.color-selection .color.active-color:hover {
  transform: none;
}

.color-selection .color::after {
  --border-width: 3px;
  --border-space: 2px;
  --selected-color-size: calc(
    var(--color-size) + var(--border-width) * 2 + var(--border-space) * 2
  );
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--selected-color-size);
  height: var(--selected-color-size);
  border-radius: var(--rounded-border-radius);
  border: var(--border-width) solid var(--off-white);
  opacity: 0.6;
}

.color-selection .active-color::after {
  opacity: 1;
}

/* MATERIALS */

.material-selection {
  position: absolute;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.material-selection .material-icon {
  width: 32px;
  height: 32px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--dark-gray);
  transition: var(--default-transition);
}

.material-selection .material-icon:hover {
  background-color: var(--less-dark-gray);
}

.material-selection .material-icon .stroke {
  stroke: var(--off-white);
}

.material-selection .material-icon .fill {
  fill: var(--off-white);
}

.material-selection .material-icon.active-material {
  background-color: var(--color-primary);
}

.material-selection .material-icon.active-material .stroke {
  stroke: var(--dark-gray);
}

.material-selection .material-icon.active-material .fill {
  fill: var(--dark-gray);
}

/* CUBEMAP SELECTION */

.cubemap-selection {
  position: absolute;
  right: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cubemap-selection .cubemap {
  height: 90px;
  width: 90px;
  background-color: var(--dark-gray);
  cursor: pointer;
  border-radius: var(--rounded-border-radius);
  transition: var(--default-transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubemap-selection .cubemap:hover {
  opacity: 0.7;
}

.cubemap-selection .cubemap.active-cubemap {
  background-color: var(--color-primary);
  cursor: unset;
}

.cubemap-selection .cubemap.active-cubemap:hover {
  opacity: 1;
}

.cubemap-selection .cubemap-check {
  display: none;
  height: 80px;
  width: 80px;
  position: absolute;
  background: var(--cubemap-checked-bg);
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-border-radius);
}

.cubemap-selection .cubemap.active-cubemap .cubemap-check {
  display: flex;
}

.cubemap-selection .cubemap-check-icon {
  height: 40%;
  width: 40%;
}

.cubemap-selection .cubemap-bg {
  height: 80px;
  width: 80px;
  border-radius: var(--rounded-border-radius);
}

/** STEPPER BUTTONS */

.stepper-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: flex-start;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  pointer-events: none;
}

.stepper-buttons .step-back-button-container,
.stepper-buttons .step-forward-button-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  pointer-events: all;
}

.stepper-buttons .step-back-button-container.no-step,
.stepper-buttons .step-forward-button-container.no-step {
  visibility: hidden;
  pointer-events: none;
}

.stepper-buttons .step-button {
  --step-button-size: 9vh;

  background-color: var(--color-primary);
  height: var(--step-button-size);
  min-height: 60px;
  min-width: max(60px, var(--step-button-size));
  border-radius: calc(0.25 * var(--step-button-size));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: var(--default-transition);
}

.stepper-buttons .step-button:hover {
  box-shadow: 0 0 30px 0 var(--step-button-hover-box-shadow);
  background-color: var(--color-primary-lightened);
}

.stepper-buttons .step-button h3 {
  color: var(--dark-gray);
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  white-space: nowrap;
}

@media (max-width: 450px) {
  .stepper-buttons .step-button h3 {
    font-size: 1rem;
  }
}

.stepper-buttons .step-button svg {
  width: calc(0.3 * var(--step-button-size));
  height: calc(0.3 * var(--step-button-size));
}

.step-back-button-container .step-button svg {
  transform: rotate(180deg);
}

.stepper-buttons .step-button svg path {
  stroke: var(--dark-gray);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.stepper-buttons .price {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--color-primary);
  font-size: 6vh;
}

@media (max-width: 768px) {
}

/* HIDE SOME STUFF ON SMALL SCREEN */

@media (max-width: 768px) {
  .stepper-buttons .price {
    display: none;
  }
  .car-parts {
    display: none;
  }
  .model-selection .model-infos {
    display: none;
  }
  .options-container {
    display: none;
  }
  .material-selection {
    display: none;
  }
  .model-selection .model-description {
    display: none;
  }
}
