@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.example::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#container {
  width: calc(100% /* - 4rem*/);
  height: calc(100% /* - 4rem*/);
  align-items: center;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  all: unset;
}

/* MODEL NAME */

#car_name {
  font-family: "Bebas Neue", sans-serif;
}

/* the padding and display stuff is necessary because of the badely cropped font */
.highlighted-word {
  color: #141614 !important;
  display: inline-block !important;
  height: 7rem;
  padding-left: 1vh !important;
  padding-right: 1vh !important;
  padding-top: 0.5vh !important;
  padding-bottom: 0.4vh !important;
  background-color: #ec6244;
  border-radius: 15px;
}
.arrow-hover {
  transition: 0.1s ease;
}

.arrow:hover .arrow-hover {
  stroke: #a1a1a1;
}

/* INFO NUMBERS */

.number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.customization-btn:hover {
  box-shadow: 0 0 30px 0 rgba(210, 247, 90, 0.3);
  background-color: #f27357;
}
.mobile-select-model-button:hover {
  box-shadow: 0 0 30px 0 rgba(210, 247, 90, 0.3);
  background-color: #f27357;
  cursor: po;
}

/* SETTINGS PANEL */

.settings-line {
  justify-content: space-between;
}

/* PART SELECTION MENU */

.active-tab {
  background-color: #272727 !important;
  color: white !important;
}
.active-tab:hover {
  color: #acacac !important;
}

.active-part {
  background-color: #ec6244 !important;
  color: #22242a !important;
  cursor: auto !important;
}
.active-part #check-circle {
  background-color: #272727 !important;
}
.active-part #check-circle img {
  display: block !important;
}
.part-item {
  justify-content: space-between;
}

/* COLORS */

.active-color {
  border: 4px solid #3c3c3c !important;
  cursor: auto !important;
}
.active-color:hover {
  transform: none !important;
}

/* MATERIALS */

.active-material {
  background-color: #ec6244 !important;
  color: #272727 !important;
}
.active-material:hover {
  cursor: auto !important;
}
.active-material .unactive-icon {
  display: none !important;
}
.active-material .active-icon {
  display: block !important;
}

/* CUBEMAP SELECTION */

.active-cubemap {
  background-color: #ec6244 !important;
  cursor: auto !important;
}
.active-cubemap .cubemap-check {
  display: flex !important;
}
.active-cubemap:hover {
  opacity: 100% !important;
}
.cubemap {
  height: 90px;
  width: 90px;
}
.cubemap-check {
  height: 80px;
  width: 80px;
}
.cubemap-check-icon {
  height: 40%;
  width: 40%;
}
.cubemap-bg {
  height: 80px;
  width: 80px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .car-parts {
    display: none;
  }
  #model-infos {
    display: none;
  }
  #ui-options {
    display: none !important;
  }
  .material-section {
    display: none !important;
  }
  #select-parts-button,
  #back-to-model-button {
    display: none !important;
  }
  #car_description {
    display: none !important;
  }
  #select-model-button,
  .hidden-button {
    display: none !important;
  }
  #part-selection {
    font-size: 12px !important;
    top: 3vh;
    left: auto;
  }
  #tab-panels {
    font-size: 14px !important;
  }
  #cubemap {
    flex-direction: row !important;
    bottom: 17vh !important;
    right: auto !important;
    align-items: center !important;
    width: 80% !important;
    justify-content: space-between !important;
  }
  .cubemap {
    margin: 0 !important;
  }
  #car_description {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  #car_name {
    font-size: 4rem;
    line-height: 4rem;
  }
  .highlighted-word {
    height: 4.1rem !important;
    border-radius: 8px !important;
  }
  #car_description {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}
