@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: 'Inter', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: calc(100% /* - 4rem*/);
  height: calc(100% /* - 4rem*/);
  align-items: center;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  all: unset;
}

.active-color{
  width: 70px !important;
  height: 70px !important;
}

#car_name{
  font-family: 'Bebas Neue', sans-serif;
}

.highlighted-word{
  color: #141614 !important;
}
.highlighted-word::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-top: 50px;
  margin-right: 50px;
}

.number{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.price{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.customization-btn:hover{
  box-shadow: 0 0 25px 12px rgba(222, 255, 115, 0.3);
  background-color: #DEFF73;
}

.toggled-light::after{
  content: "";
  position: absolute;

}