@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: calc(100% /* - 4rem*/);
  height: calc(100% /* - 4rem*/);
  align-items: center;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  all: unset;
}

/* MODEL NAME */

#car_name {
  font-family: "Bebas Neue", sans-serif;
}

.highlighted-word {
  color: #141614 !important;
  z-index: 20 !important;
}
.highlighted-word::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-top: 50px;
  margin-right: 50px;
  z-index: 10 !important;
}

.number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.customization-btn:hover {
  box-shadow: 0 0 30px 0 rgba(210, 247, 90, 0.3);
  background-color: #d2f75a;
}
.mobile-select-model-button:hover {
  box-shadow: 0 0 30px 0 rgba(210, 247, 90, 0.3);
  background-color: #d2f75a;
  cursor: po;
}

.mobile-select-model-button {
  display: none !important;
}

/* PART SELECTION MENU */

.active-tab {
  background-color: #272727 !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  color: white !important;
  cursor: auto !important;
}

.active-part {
  background-color: #c5ec44 !important;
  color: #22242a !important;
  cursor: auto !important;
}
.active-part #check-circle {
  background-color: #1abf34 !important;
}
.active-part #check-circle img {
  display: block !important;
}
.part-item {
  justify-content: space-between;
}

/* COLORS */

.active-color {
  border: 4px solid #3c3c3c !important;
  cursor: auto !important;
}
.active-color:hover {
  transform: none !important;
}

/* MATERIALS */

.active-material {
  background-color: #C5EC44 !important;
  color: #272727 !important;
}
.active-material:hover{
  cursor: auto !important;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  #model-infos {
    display: none;
  }
  #select-model-button {
    display: none !important;
  }
  .mobile-select-model-button {
    display: flex !important;
  }
  .mobile-select-model-button .first-section-element{
    display: none !important;
  }
  #ui-options {
    display: none !important;
  }
  .material-section{
    display: none !important;
  }
  #select-parts-button, #back-to-model-button{
    display:none !important;
  }
}
@media (max-width: 1024px) {
  #car_name {
    font-size: 4rem;
    line-height: 4rem;
  }
  #car_description {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}
